<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684191208074-4j1b7dspgnbo1td1ufa1lban0l4fmrcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684191208074-4j1b7dspgnbo1td1ufa1lban0l4fmrcs</string>
	<key>API_KEY</key>
	<string>AIzaSyBeqNkwP2TElOZ--5DRZiOYe2csB4Shp_k</string>
	<key>GCM_SENDER_ID</key>
	<string>684191208074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kv.CalorieTracker</string>
	<key>PROJECT_ID</key>
	<string>calorie-tracker-1586930269826</string>
	<key>STORAGE_BUCKET</key>
	<string>calorie-tracker-1586930269826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:684191208074:ios:df75f93958422dd8df1373</string>
	<key>DATABASE_URL</key>
	<string>https://calorie-tracker-1586930269826.firebaseio.com</string>
</dict>
</plist>
